################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GrandHotel/.vs/GrandHotel/v15
/GrandHotel/.vs/GrandHotel/v16
/GrandHotel/.vs/GrandHotel/DesignTimeBuild
