@page
@model AboutModel

<style>
    body {
        text-align: justify;
        color: white;
    }

    h1 {
        text-align: center;
        color: lightblue;
        font-weight: bold;
    }

    h2 {
        text-align: center;
        font-weight: bold;
    }

    span{
        text-transform: uppercase; /* Make the first letters uppercase      */
    }
</style>
<body>
    <h1>About Us</h1>

    <h2><span>grand</span> Hotel is a perfect venue for a comfortable stay as well as business meetings, conferences and trainings.</h2>

    <br />

    <div>
        <h1>PERFECT LOCATION</h1>
        <h2>
            - in the capital city of Paris -
        </h2>
    </div>

    <br />

    <p>
        Grand Royal Hotel is located a 2-minute drive from the A2 highway,
        5.5 kilometers from the Charle de gaulle International airport and the gonesse railway station.
    </p>

    <br />

    <p>
        The hotel offers 21 modern Classic rooms (single or double). Rooms in Grand Hotel are spacious and air-conditioned. Each of them provides wireless Internet access, mini bar, coffee making facility, satellite LCD television, bathrobes and a hairdryer. During their stay, hotel guests can enjoy the Wellness zone of the SPA Center comprising a swimming pool, sauna, jacuzzi and a large gym for free.
    </p>

    <br />

    <div class="text-center">
        <h1>UNIQUE ATMOSPHERE</h1>
        <h2>
            - luxury and comfort -
        </h2>
    </div>

    <br />

    <p>
        Unique atmosphere of the hotel is ensured by: an aquarium with freshwater fish and a capacity of 9000 liters and 90" TVs installed in the Winter Garden and the Lounge Bar where you can enjoy a cup of aromatic coffee. Greener Restaurant offers dishes of both Polish and international cuisine, providing guests with a variety of tastes owing to carefully selected recipes.

        Additionally, Grand Royal Hotel has a range of conference and banquet facilities. We offer 3 multifunctional rooms with modern conference equipment. Rooms with a total area of over 240 square meters are located on the ground floor and give room for flexible arrangement solutions. Our guests are also provided with free-of-charge access to Spa & Wellness Center with an indoor swimming pool and a well-equipped gym.


        The Grand Royal Hotel is the perfect place for those who appreciate high-quality services and cordial and friendly atmosphere.


    </p>
</body>




