
<form method="get">
    <div style="margin-top:-10%;margin-left:70%; " class="col-sm-2">
        <button asp-page="./Register" class="btn btn-default form-control">Register</button>
    </div>
</form>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
