<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/js/site.min.js"></script>
<form method="get">
    <div style="margin-top:-10%;margin-left:70%; " class="col-sm-2">
        <button asp-page="./Register" class="btn btn-default form-control">Register</button>
    </div>
</form>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
