@page
@model GrandHotel.Pages.Contacts.ContactUsModel
@{
}
    <body style="margin-left:20px">
        <div>
            <br />
            <p style="color:red">@TempData["confirm"]</p>
            <br /><br />

            <h2>Contact Us</h2>
            <form method="post" class=" form-horizontal col-md-6">
                <div class="form-group" asp-validation-summary="None">
                    <div class=" form-group">
                        <input asp-for="Contact.Name" class="form-control" placeholder="Name" />
                        <span asp-validation-for="Contact.Name" style="color: red"></span>
                    </div>
                    <div class=" form-group">
                        <input asp-for="Contact.Email" class="form-control" placeholder="Email" />
                        <span asp-validation-for="Contact.Email" style="color: red"></span>
                    </div>
                    <div class=" form-group">
                        <input asp-for="Contact.Subject" class="form-control" placeholder="Object" />
                        <span asp-validation-for="Contact.Subject" style="color: red"></span>
                    </div>
                    <div class=" form-group">
                        <textarea asp-for="Contact.Message" class="message form-control" placeholder="Your message..."></textarea>
                    </div>
                    <div>
                        <button class="btn btn-primary" type="submit" id="submit">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
    