@page
@model GrandHotel.Pages.Clients.CancelReservationModel
@{
}
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/js/site.min.js"></script>
<body>
    <h2 class="text-center">We have successfully remove your reservation.</h2>
</body>