@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (User.Claims.Count() != 0)
{
    var username = @User.Identities.FirstOrDefault().Claims.FirstOrDefault().Value;
    <form asp-page="/Authentication/Logout" method="post" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-page="/Index">Welcome @username !</a>
            </li>
            <li>
                <a asp-page="/Clients/Details" asp-route-email="@username">My details</a>
            </li>
            <li>
                <a asp-page="/Clients/Reservations" asp-route-email="@username">My Reservations</a>
            </li>
            <li>
                <button type="submit" asp-page="/Authentication/Logout" asp-route-username="@username" class="btn btn-link navbar-btn navbar-link">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">

        <li><a asp-page="/Authentication/login">Login or Register</a></li>
    </ul>
}